/* You can add global styles to this file, and also import other style files */

body {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centrar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.btn-warning {
    color: white !important;
    font-size: 2rem !important;
    font-weight: bold !important;
}

.modal-body .img {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}